{% extends "base.html" %}

{# номер лабораторной работы: #}
{% block lab %}Лабораторная работа 4{% endblock %}

{# основной контент: #}
{% block main %}
    <h1>Формы (POST)</h1>
    <div>Тема лабораторной работы - Формы (POST). Список сделанных страниц:</div>
    <ol>
        
        <li><a href="/lab4/div">Деление</a></li>
        <li><a href="/lab4/sum">Суммирование</a></li>
        <li><a href="/lab4/mult">Умножение</a></li>
        <li><a href="/lab4/sub">Вычитание</a></li>
        <li><a href="/lab4/pow">Возведение в степень</a></li>
        <li><a href="/lab4/tree">Счётчик деревьев</a></li>
        <li><a href="/lab4/login">Авторизация</a></li>
        <li><a href="/lab4/fridge">Холодильник</a></li>
        <li><a href="/lab4/grain">Заказ зерна</a></li>
        <li><a href="/lab4/register">Регистрация</a></li>

        
    </ol>
{% endblock %}