{% extends "base.html" %}

{# номер лабораторной работы: #}
{% block lab %}Лабораторная работа 2{% endblock %}

{# основной контент: #}
{% block main %}
    <h1>Коллекция цветов</h1>
    <div>
        <h2>Всего цветов: {{ count }}</h2>
            
        {% if count > 0 %}
        <ul>
            {% for flower in flowers %}
            <li>
                <a href="/lab2/flowers/{{ loop.index0 }}">{{ flower }}</a>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>Список цветов пуст</p>
        {% endif %}
    </div>
        
    <nav>
        <a href="/lab2/add_flower/орхидея">Добавить новый цветок</a> |
        <a href="/lab2/clear_flowers">Очистить список</a>
    </nav>
{% endblock %}

