{% extends "base.html" %}

{# номер лабораторной работы: #}
{% block lab %}Лабораторная работа 2{% endblock %}

{# основной контент: #}
{% block main %}
    <h1>Калькулятор</h1>
    <div>
        <h2>Операции с числами {{ a }} и {{ b }}</h2>
            
        <div>
            {% for operation, result in operations.items() %}
            <div>
                <h3>{{ operation }}</h3>
                <p>
                    {% if operation == 'Сложение' %}
                        {{ a }} + {{ b }}
                    {% elif operation == 'Вычитание' %}
                        {{ a }} - {{ b }}
                    {% elif operation == 'Умножение' %}
                        {{ a }} * {{ b }}
                    {% elif operation == 'Деление' %}
                        {{ a }} / {{ b }}
                    {% elif operation == 'Возведение в степень' %}
                        {{ a }}<sup>{{ b }}</sup>
                    {% endif %}
                </p>
                <p>= {{ result }}</p>
            </div>
            {% endfor %}
        </div>
            
        </div>
    </div>
{% endblock %}
